block config
	include config

block aboutus
	.wrapper.about-service#aboutus
		.background-item
			img(src="../assets/images/el/semicircle.png")
		.text-item ABOUT US
		.container
			.about-container
				section.about.fade-about
					.about-box
						.about-title
							+tagTitle('ABOUT US','black')
						.about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum 
						
				section.service
					.service-box
						.circle-container.fade-about
							.service-circle#circle1
								.circle-text MARKETING
						.circle-container.fade-about
							.service-circle#circle2
								.circle-text PRODUCTION
						.circle-container.active.fade-about
							.service-circle#circle3.active
								.circle-text STRATEGY
					.service-description#service-desc1 1) MARKETING Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
					.service-description#service-desc2 2) PRODUCTION Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
					.service-description#service-desc3.fade-about 3) STRATEGY Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 

