extends docwrap

append config
	- var keywords = 'isobar'
	- var description = 'isobar'

block content
	.wrapper.about-service
		.container
			section.about 
				.about-box 
					h1 About Us
					p Lorem
			section.service 
				.about-box 
					h1 About Us
					p Lorem