block config
	include config

block career-contact
	.wrapper.career-contact#contact
		.bg
			p.left careers
			p.right contact us
		.container
			.career-contact-box
				section.career.fade-box
					+tagTitle('CAREERS','black')
					.career-box.career-contact-border
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						a.btn find job
				section.contact.fade-box
					+tagTitle('CONTACT US','black')
					.contact-box.career-contact-border
						p 33th Fl., U Chu Liang Bldg<br/>968 Rama IV Road, Silom Bangrak, Bangkok 10500 | Thailand<br/>026324575
						.group-btn
							a(href="").btn.mail e-mail
							a(href="").btn.map map