extends docwrap

include about_us
include work-blog
include career-contact

append config
	- var keywords = 'isobar'
	- var description = 'isobar'

block content
	.wrapper.title#title
		.background-ani.ani
		.scroll