extends docwrap

append config
	- var keywords = 'isobar'
	- var description = 'isobar'

block content
	.wrapper.title
		h1 เดี๋ยวทำเองจ้า


	+tagTitle('home','black')
	+tagTitle('about','white')

	.wrapper.about-service
		.container
			section.about
			section.service

	.wrapper.work-blog
		.container
			section.work
			section.blog

	.wrapper.career-contact
		section.career
		section.contact