extends docwrap

include about_us
include work-blog
include career-contact

append config
	- var keywords = 'isobar'
	- var description = 'isobar'

block content
	.wrapper.title#title
		.background-ani#backgroundAni
			.text-cover
				.text.main
					p isobar is 
					p.text-ani
						span(class="word wisteria") sexy.
						span(class="word belize") naughty.
						span(class="word pomegranate") bitchy.
				.text.need
					p isobar is 
					p.text-ani
						span(class="word2 midnight") what you need.

		.scroll