extends docwrap

append config
	- var keywords = 'isobar'
	- var description = 'isobar'

block content
	.wrapper.work-blog
		.bg
			p.left showreel
			img.line(src="../assets/images/el/line.png", alt="")
			img.dot(src="../assets/images/el/dot.png", alt="")
			p.right isobar blog
		.container
			section.work
				+tagTitle('SHOWREEL','white')
				ul.showreel-img
					li.box
						img(src="../assets/images/03-showreel/pic1.png", alt="")
					li.box
						img(src="../assets/images/03-showreel/pic2.png", alt="")
					li.box
						img(src="../assets/images/03-showreel/pic3.png", alt="")
			section.blog
				ul
					li.blog-img
							a(href=""): img(src="../assets/images/04-blog/1.jpg", alt="")
							a(href=""): img(src="../assets/images/04-blog/2.jpg", alt="")
							a(href=""): img(src="../assets/images/04-blog/3.jpg", alt="")
							a(href=""): img(src="../assets/images/04-blog/4.jpg", alt="")
					li.blog-text
							+tagTitle('ISOBAR BLOG','white')
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi assumenda, qui similique repellendus ipsum asperiores voluptate, officiis porro placeat? Esse.
							a.btn read more