extends docwrap

block content
	.wrapper.work-blog
		.bg
			p showreel
		.container
			section.work
				h2 showreel
				.showreel-img
					img(src="../assets/images/03-showreel/pic1.png", alt="")
					img(src="../assets/images/03-showreel/pic2.png", alt="")
					img(src="../assets/images/03-showreel/pic3.png", alt="")
			section.blog
				.blog-img
					img(src="../assets/images/04-blog/1.jpg", alt="")
					img(src="../assets/images/04-blog/2.jpg", alt="")
					img(src="../assets/images/04-blog/3.jpg", alt="")
					img(src="../assets/images/04-blog/4.jpg", alt="")
				.blog-text
					h2 isobar blog
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi assumenda, qui similique repellendus ipsum asperiores voluptate, officiis porro placeat? Esse.
					.btn read more