.about-service {
	background-color: $gray;

	.background-item {
		position: absolute;
		bottom: 150px;
	}

	.text-item {
		position: absolute;
		right: 0;
    	font-size: 36px;
    	color: #fff;
    	transform: rotate(90deg);
    	top: 10%;
    	@include breakpoint(mobile) {
    		right: -17%;
    		top: 10%;
    	}
    	@include breakpoint(tablet-wide) {
			right: -2%;
			top: 45%;
		}
	}

	.container {

		.about-container {
			padding-top: 40px;
			@include breakpoint(tablet) {
				padding-top: 0;
			}

			section.about {
				opacity: 0;
				width: 45%;
				display: inline-block;
				position: relative;
				@include breakpoint(tablet) {
					display: block;
					width: 100%;
				}

				&:before {
				    content: '';
				    background: $orange;
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    z-index: 2;
				}
				&.seen {
					opacity: 1;
			      	&:nth-child(1) {
			        	animation-delay: 0s;
			      	}
			      	&:nth-child(2) {
			        	animation-delay: .5s;
			      	}
			       	&:nth-child(3) {
			        	animation-delay: 1s;
			      	}
			      	&:before {
				    	@include animation(fade-work 1s 1s forwards);
				  	}
			    }

				.about-box {
					background-color: #fff;
					box-shadow: 0px 0px 20px #a5a5a5;
					padding: 60px;
					@include breakpoint(tablet) {
						padding: 40px;
					}
					@include breakpoint(mobile) {
						padding: 30px;
					}

					.about-title {
						padding-left: 10px;
					}
					
					.about-description {
						@include font-size(16);
						padding-top: 60px;
						line-height: 1.8;
						text-indent: 18px;
						@include breakpoint(tablet) {
							padding-top: 30px;
						}
					}
				}
			}

			section.service {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				position: relative;
				margin-left: 50px;
				@include breakpoint(tablet) {
					display: block;
					width: 100%;
					margin-top: 0;
					margin-left: 0;
				}

				.service-box {
					width: 100%;
					position: relative;
					height: 605px;
	    			margin-top: -100px;
	    			@include breakpoint(tablet) {
	    				margin-top: 0;
	    			}
	    			@include breakpoint(tablet-wide) {
	    				margin-left: 120px;
	    			}
	    			@include breakpoint(mobile) {
	    				margin-left: 0;
	    				height: 400px;
	    			}
	    			@media screen and (max-width: 413px) and (min-width: 375px) {
						margin-left: 30px;
	    			}
	    			@media screen and (max-width: 667px) and (min-width: 414px) {
						margin-left: 50px;
	    			}

	    			.circle-container {
	    				opacity: 0;	
	    				position: absolute;
	    				&.active {
	    					z-index: 2;
	    				}

	    				&:before {
						    content: '';
						    background: $orange;
						    position: absolute;
						    top: 0;
						    bottom: 0;
						    left: 0;
						    right: 0;
						    z-index: 2;
						}
						&.seen {
							opacity: 1;
					      	&:nth-child(1) {
					        	animation-delay: 0s;
					      	}
					      	&:nth-child(2) {
					        	animation-delay: .5s;
					      	}
					       	&:nth-child(3) {
					        	animation-delay: 1s;
					      	}
					      	&:before {
						    	@include animation(fade-work 1s 1s forwards);
						  	}
					    }
	    			}

					.service-circle {
						position: absolute;
						width: 300px;
						height: 300px;
						border: 1px solid #c6c6c6;
						border-radius: 50%;
						background-color: #c6c6c6;
						opacity: 0.57;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    @include breakpoint(mobile) {
					    	width: 160px;
					    	height: 160px;
					    }

					    .circle-text {
					    	color: #fff;
				    	    @include font-size(20);
	    					letter-spacing: 3px;
	    					@include breakpoint(mobile) {
	    						@include font-size(14);
	    					}
					    }

					    &.active {
					    	background-color: $orange;
					    	opacity: 0.85;
					    	z-index: 2;
					    }

					    &.active:after {
							border: 3px solid #fff;
							content: "";
							display: block;
							position: absolute;
							top: 13px;
							left: 13px;
							right: 13px;
							bottom: 13px;
							// pointer-events: none;
							border-radius: 325px;
					    }

					  	&:hover:after {
							border: 3px solid #fff;
							content: "";
							display: block;
							position: absolute;
							top: 13px;
							left: 13px;
							right: 13px;
							bottom: 13px;
							// pointer-events: none;
							border-radius: 325px;
					    }

					    &:hover {
					    	background-color: $orange;
					    	opacity: 0.85;
					    	z-index: 2;
					    	transition: .5s;
					    }
					}

					#circle1 {
						top: 70px;
						left: 185px;
						@include breakpoint(mobile) {
							left: 60px;
						}
					}
					#circle2 {
					    top: 265px;
					    left: 60px;
					    @include breakpoint(mobile) {
					    	top: 195px;
					    	left: 0;
					    }
					}
					#circle3 {
					    top: 265px;
					    left: 300px;
					    @include breakpoint(mobile) {
					    	top: 195px;
					    	left: 120px;
					    }
					}
				}

				.service-description {
					@include font-size(16);
					line-height: 1.5;
					@include breakpoint(tablet) {
						margin-left: 0;
					}

					&#service-desc1 {
						display: none;
					}
					&#service-desc2 {
						display: none;
					}
					&#service-desc3 {
						opacity: 0;
					}
				}
			}
		}
	}
}