.work-blog {
	position: relative;
	background-color: $black;
	.bg {
		position: relative;
		p.left {
			@include font-size(36);
			position: absolute;
			color: $white;
			transform: rotate(-90deg);
			float: left;
			text-transform: uppercase;
			letter-spacing: 5px;
			opacity: 0.6;
			margin: 25% 0 0 -3%;
			@include breakpoint(tablet) {
				margin: 37% 0 0 -7%;
			}
			@include breakpoint(mobile) {
				margin: 67% 0 0 -26%;
			}
		}
		img.line {
			position: absolute;
			margin-top: 46%;
			@include breakpoint(tablet) {
				margin-top: 135%;
			}
			@include breakpoint(tablet-wide) {
				margin-top: 102%;
			}
			@include breakpoint(mobile) {
				margin-top: 330%;
			}
		}
		img.dot {
			position: absolute;
			right: 0;
			margin-top: 39%;
			opacity: 0.6;
			@include breakpoint(tablet) {
				margin-top: 82%;
			}
			@include breakpoint(tablet-wide) {
				margin-top: 58%;
			}
			@include breakpoint(mobile) {
				margin-top: 147%;
			}
		}
		p.right {
			@extend p.left;
			transform: rotate(90deg);
			right: 0;
			margin: 63% -4% 0 0;
			@include breakpoint(tablet) {
				margin: 196% -11% 0 0;
			}
			@include breakpoint(tablet-wide) {
				margin: 158% -10% 0 0;
			}
			@include breakpoint(mobile) {
				margin: 535% -32% 0 0;
			}
		}
	}
	.container {
		.work {
			.tagTitle {
				margin-left: 65px;
				@include breakpoint(tablet) {
					margin-left: 0;
				}
			}
			ul.showreel-img {
				padding: 50px 0 150px 0;
				text-align: center;
				@include breakpoint(tablet) {
					padding: 50px 0 100px 0;
				}
				@include breakpoint(mobile) {
					padding: 50px 0 80px 0;
				}
				li {
					@include breakpoint(tablet) {
						width: calc(100% / 3 - 2px);
					}
					@include breakpoint(mobile) {
						width: 100%;
					}
				}
			}
		}
		.blog {
			padding-top: 120px;
			@include breakpoint(tablet) {
				padding-top: 0;
			}
			ul {
				li {
					display: inline-block;
					@include breakpoint(tablet) {
						display: block;
					}
					&.blog-img {
						width: 70%;
						text-align: center;
						@include breakpoint(tablet) {
							width: 100%;
						}
						a {
							display: inline-block;
							opacity: 1;
							transition: opacity 0.5s;
							@include breakpoint(tablet) {
								width: 50%;
							}
							@include breakpoint(tablet-wide) {
								width: 42%;
							}
							@include breakpoint(mobile) {
								width: 100%;
							}
							img {
								padding: 0 5px 1px 0;
								position: relative;
								@include breakpoint(tablet-wide) {
									padding: 0 2px 4px 0;
								}
								&:before {
									content: '';
									position: absolute;
									display: block;
									background: red;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
								}
								&:hover {
									opacity: 0.8;
								}
							}
							&:hover {
								opacity: 0.5;
							}
						}
					}
					&.blog-text {
						width: 20%;
						height: 406px;
						padding-top: 60px;
						vertical-align: top;
						@include breakpoint(tablet) {
							width: 100%;
							height: 280px;
						}
						@include breakpoint(mobile) {
							height: 348px;
						}
						p {
							@include font-size(16);
							color: $white;
							line-height: 145%;
							padding: 40px 0;
						}
						&.fade-box {
							&.seen {
								animation-delay: .5s;
								&:before {
							    	@include animation(fade-work 1s 1s forwards);
							  	}
							}
						}
					}
				}
			}
		}
	}
}

.fade-box {
	display: inline-block;
	padding: 0 1px;
	opacity: 0;
	position: relative;
	&:before {
	    content: '';
	    background: $orange;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	}
	&.seen {
		opacity: 1;
      	&:nth-child(1) {
        	animation-delay: 0s;
      	}
      	&:nth-child(2) {
        	animation-delay: .5s;
      	}
       	&:nth-child(3) {
        	animation-delay: 1s;
      	}
      	&:before {
	    	@include animation(fade-work 1s 1s forwards);
	  	}
	  	&.last {
			&:before {
		      	@include animation(fade-left 1s 1s forwards);
		    }
	  	}
    }
}
@include keyframes(fade-work) {
  	0% {top: 0;}
  	100% {top: 100%;}
}
@include keyframes(fade-left) {
  	0% {left: 0;}
  	100% {left: 100%;}
}